[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "rpi-linux"]
	path = rpi-linux
	url = https://github.com/raspberrypi/linux
	branch = rpi-6.18.y
	shallow = true
[submodule "vendors/leanVM-b"]
	path = vendors/leanVM-b
	url = https://github.com/RichAyotte/leanVM.git
	branch = russignol/xmss-patches
